swop:
  base-url: https://swop.cx
  api-key: ${SWOP_API_KEY}
  timeout-ms: 1000

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never

server:
  port: 8080
