swop:
  base-url: https://swop.cx
  api-key: ${SWOP_API_KEY}
  timeout: 1000ms

management:
  endpoints:
    web:
      exposure:
        include: health,metrics
  endpoint:
    health:
      show-details: never
  influx:
    metrics:
      export:
        enabled: true
        uri: ${INFLUX_URL}
        api-version: v2
        org: ${INFLUX_ORG}
        bucket: ${INFLUX_BUCKET}
        token: ${INFLUX_TOKEN}
        step: 10s
        auto-create-db: false

server:
  port: 8080

spring:
  mvc:
    favicon:
      enabled: false

logging:
  level:
    root: WARN
